.project-details {
    margin-bottom: 60px;

    .container {
        display: flex;
        margin-top: 60px;
        gap: 40px;

        @include phone {
            flex-direction: column;
        }



        .content {
            padding-bottom: 30px;

            @include phone {
                padding-bottom: 0;
            }

            h4 {
                font-size: 18px;
                margin-bottom: 20px;
            }

            p {
                font-size: 15px;
            }

            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            ul {


                li {
                    margin-bottom: 20px;

                    &::marker {
                        color: var(--color-secondary);
                    }
                }
            }

            .image-next-to-text {
                display: flex;
                gap: 20px;

                @include phone {
                    flex-direction: column;
                }

                img {
                    width: 100%;
                }

                .content {
                    max-width: 60%;

                    @include phone {
                        max-width: 100%;
                    }
                }
            }

            .project-item-tags {
                display: flex;
                gap: 10px;
                align-items: center;

                @include phone {
                    margin-top: -40px;
                }

                p {
                    font-weight: 700;
                }
            }
        }



        .project-sidebar {
            max-width: 350px;
            border-left: 1px solid var(--color-border-gray);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding-left: 30px;

            @include phone {
                display: none;
            }

            @include tablet {
                display: none;
            }

            @include desktop {
                display: block;
            }


            .page-tags {
                display: flex;
                width: 350px;
                flex-direction: column;
                padding-left: 20px;


                .tags {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                }
            }

            .placeholder {
                width: 300px;
            }
        }
    }
}
