<?xml version="1.0" encoding="utf-8"?>
<DataType Key="656ffd93-9ff0-4f98-b189-3b916096061b" Alias="Button - Approved Button Colors" Level="1">
  <Info>
    <Name>Button - Approved Button Colors</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "FFFFFF",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>