<?xml version="1.0" encoding="utf-8"?>
<DataType Key="487d5c6f-529b-4d8d-ae2d-4c6c88bda961" Alias="Contact Page - Layout" Level="1">
  <Info>
    <Name>Contact Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "c899f271-b062-4810-8cc1-b51f6d8fbf4d",
      "name": "containers"
    },
    {
      "key": "8fd11cf7-5ad9-4972-a312-2f8b37cf4523",
      "name": "Forms"
    },
    {
      "key": "deed236d-b5cd-41f0-8568-569a86ecbad2",
      "name": "Custom sections"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "cc9991bc-d0bc-41a8-973e-9043584c43e5",
      "allowAtRoot": true,
      "allowInAreas": true,
      "groupKey": "8fd11cf7-5ad9-4972-a312-2f8b37cf4523"
    },
    {
      "contentElementTypeKey": "b0f21029-ceff-418c-bd7b-4313cd5f6832",
      "allowAtRoot": false,
      "groupKey": "deed236d-b5cd-41f0-8568-569a86ecbad2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d4ac84ad-9f22-4a3c-ac79-fde71b02fd2c",
      "allowAtRoot": true,
      "groupKey": "c899f271-b062-4810-8cc1-b51f6d8fbf4d",
      "areas": [
        {
          "key": "53e1edcb-fe96-438f-aab7-49d9991b3132",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7d16654a-06b0-4262-9157-8147c6f60e6c",
      "allowAtRoot": true,
      "groupKey": "c899f271-b062-4810-8cc1-b51f6d8fbf4d"
    },
    {
      "contentElementTypeKey": "fdf92dc1-4552-4a77-87d7-f0365fb10412",
      "allowAtRoot": true,
      "groupKey": "deed236d-b5cd-41f0-8568-569a86ecbad2"
    },
    {
      "contentElementTypeKey": "71c6467c-25dd-492e-afea-213e09a7e107",
      "allowAtRoot": true,
      "groupKey": "deed236d-b5cd-41f0-8568-569a86ecbad2"
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>