<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94b93748-ce5b-4a01-9927-013ddd419561" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7c9a3f8f-7c0f-4e13-83c4-7b82d9435e9b",
      "label": "inputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "019e0165-fbf7-4f92-ad3c-5d23f65e4f6e",
      "label": "FormButton - {=buttonType}"
    },
    {
      "contentElementTypeKey": "df72b9f7-0b4e-4196-b75c-8837ed1cd4e8",
      "label": ""
    }
  ]
}]]></Config>
</DataType>