<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db692d56-9cc2-4f02-a9aa-e005398a5314" Alias="Dropdown Menu - Dropdown List" Level="1">
  <Info>
    <Name>Dropdown Menu - Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial Consulting",
    "Meatball Making",
    "Cat Feeding",
    "Manufacturing Mindless Slaves"
  ],
  "multiple": true
}]]></Config>
</DataType>