<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f42fc9e8-c54a-40cd-aeb5-03d97aa72359" Alias="Dropdown Menu -  - Multiple Text String" Level="1">
  <Info>
    <Name>Dropdown Menu -  - Multiple Text String</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 10,
  "min": 0
}]]></Config>
</DataType>