<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0809c399-ccf0-4955-9efe-529d810c9922" Alias="Form Button - Button Type" Level="1">
  <Info>
    <Name>Form Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Submit",
    "Reset"
  ]
}]]></Config>
</DataType>