<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95516755-55e5-4de8-a8cb-ec61f719607d" Alias="Image Slider - Slides" Level="1">
  <Info>
    <Name>Image Slider - Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "43a94ab6-fb5c-4e65-bc0b-4baf6bb399c6",
      "label": "**slide item** - {=imageDescription}"
    }
  ]
}]]></Config>
</DataType>