<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4061e5a1-7843-4d5e-844f-8c459225217a" Alias="Input Text - Input Types" Level="1">
  <Info>
    <Name>Input Text - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "phone"
  ]
}]]></Config>
</DataType>