<?xml version="1.0" encoding="utf-8"?>
<DataType Key="444226ce-37b2-46c0-b407-adab86c670ca" Alias="Interview Section - Rich Text " Level="1">
  <Info>
    <Name>Interview Section - Rich Text </Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode"
  ]
}]]></Config>
</DataType>