<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c759a04a-f7ca-456d-a20d-f8c0b253dd3a" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "fdee3784-2c6c-4d86-99e9-cde1faed683f",
      "name": "Containers"
    },
    {
      "key": "357a09d6-42c7-4cee-a716-5692902a0588",
      "name": "Custom Components"
    },
    {
      "key": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "d4ac84ad-9f22-4a3c-ac79-fde71b02fd2c",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "8d4d9eaf-4d39-4091-831f-5824a83d5867",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "fdee3784-2c6c-4d86-99e9-cde1faed683f"
    },
    {
      "contentElementTypeKey": "7d16654a-06b0-4262-9157-8147c6f60e6c",
      "allowAtRoot": true,
      "groupKey": "fdee3784-2c6c-4d86-99e9-cde1faed683f",
      "label": "Section Full Width - **{=sectionTitle}**",
      "areas": [
        {
          "key": "d071aeeb-0221-447f-97c7-280902bb8790",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "67ef4d61-2c54-464c-bcd7-2aba9ee9ac44",
      "allowAtRoot": false,
      "groupKey": "fdee3784-2c6c-4d86-99e9-cde1faed683f",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "2a730612-2605-4788-b7f1-1b6887284898",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": []
    },
    {
      "contentElementTypeKey": "830258a6-07dc-4ae9-a033-2d767748c056",
      "allowAtRoot": false,
      "groupKey": "fdee3784-2c6c-4d86-99e9-cde1faed683f",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "fba7af9e-0c4d-40fa-9303-cafbf22d3c18",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "3294cfa3-3c53-4943-969c-8edbafab6c3c",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d630fcd7-d3d7-40b5-9a43-91e9d4e36073",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3518723d-d3d6-4056-a04c-39094b28ecc3",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "44c0a304-81cf-4747-9478-649e6f69e6ec",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8a123fee-9dee-41a0-8485-395151b3effd",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "85e8e34f-315c-4da4-930f-1c295c6bf194",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "64a3a24b-cfdf-41f8-88bf-89685db76bc8",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "42f27c20-7385-459c-89e5-0381f8cd0f23",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "rich text editor",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "2d52687e-fcc6-45a2-b0bc-bff7ea57c598",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3bdf9250-2535-4f74-8bd3-63be60d6ef46",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f0358fbd-0e6d-49c5-a353-5c60544fe201",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "quote",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "67f6f441-f696-4174-8f4b-cc5952273608",
      "allowAtRoot": false,
      "groupKey": "3ad98279-800b-4c2c-a474-2b5132b3c4c7",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b0f21029-ceff-418c-bd7b-4313cd5f6832",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "72f6b59f-a430-405c-b5cb-ac3994856479",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e3a708c5-c894-4c67-b892-0a40bb41eda3",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "69bb6d0b-f863-4a0d-9968-a647d3017645",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "99594373-ea6a-44f6-973c-71ec527cbb43",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "bf103a8c-5473-415c-b8c7-82ab73d83608",
      "allowAtRoot": true,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "ec7775dd-e8ef-462a-8a12-e5890aef076f",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "fdf92dc1-4552-4a77-87d7-f0365fb10412",
      "allowAtRoot": true,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588"
    },
    {
      "contentElementTypeKey": "885fffc2-520d-4b5e-a7a1-426e1bdc7c5c",
      "allowAtRoot": true,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": false
    },
    {
      "contentElementTypeKey": "ea0c2adc-f6a3-4716-892a-3addee422d58",
      "allowAtRoot": false,
      "groupKey": "357a09d6-42c7-4cee-a716-5692902a0588",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>