<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d46d822c-36da-4e89-b907-05f68e6678cc" Alias="Review Section - Review Stars" Level="1">
  <Info>
    <Name>Review Section - Review Stars</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Integer</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 5,
  "step": 1
}]]></Config>
</DataType>