<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b70350fe-e434-4f8e-ad7f-7b04de3b7aaa" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X (formerly Twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>