<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b9e0f60d-eca0-4036-8fda-5a86e82a1faf" Alias="Success stories -  - Block List" Level="1">
  <Info>
    <Name>Success stories -  - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "493b7b29-542a-4bee-a6ae-636ed2c3530f"
    }
  ],
  "validationLimit": {
    "max": 3
  }
}]]></Config>
</DataType>