<?xml version="1.0" encoding="utf-8"?>
<DataType Key="278a5969-f81e-4b2f-8e27-2f70b5cbde62" Alias="Team Member Section - Member Slides" Level="1">
  <Info>
    <Name>Team Member Section - Member Slides</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "fbeb59aa-1f32-4df9-a2aa-00eef43faf57",
      "label": "team member slide {=teamMemberName}"
    }
  ]
}]]></Config>
</DataType>