<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7dfa68de-54f4-4145-9d76-39dd56a9d07e" Alias="Text Over Image Section - Text Color" Level="1">
  <Info>
    <Name>Text Over Image Section - Text Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    },
    {
      "value": "FFFFFF",
      "label": "None"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>