<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d21f3612-471d-476e-a0ab-5bf37951652b" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5f10eccf-ae83-491a-8cad-ad68f1e6ee6f">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d21f3612-471d-476e-a0ab-5bf37951652b" SortOrder="0">modularPage</ContentType>
    <ContentType Key="eff85bd6-263a-499a-a53b-6d9a0c7e16ee" SortOrder="1">serviceListPage</ContentType>
    <ContentType Key="5a74c1eb-943d-450d-bb32-407ff5eda65a" SortOrder="2">projectListPage</ContentType>
    <ContentType Key="e5b28451-c010-440a-8166-9ad96bfb0fdc" SortOrder="3">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7baaca75-e911-4800-8852-be8bc9a34eb2</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>c759a04a-f7ca-456d-a20d-f8c0b253dd3a</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ea5ea80c-1762-48e0-b457-68d561e5eb28</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>578f6025-cb1c-4470-b7c1-6362853403c6</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>a2945193-3100-44f9-8d94-994d719e132d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>