@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var selectedImage= Model?.Content.Value<IPublishedContent>("selectedImage")?.Url() ?? null;
    var imageDescription = Model?.Content.Value<string>("imageDescription") ?? "";
    var richTextContent= Model?.Content.Value("richTextContent") ?? null;
    var quoteText = Model?.Content.Value<string>("quoteText") ?? "";
}






<div class="interview">
    <div class="image">
        <img src="@selectedImage" alt="@imageDescription">
        <p>@imageDescription</p>
    </div>
    <div class="content">
        <blockquote class="quote">@quoteText</blockquote>
        @if (richTextContent != null) {
            <div class="rich-text">
                @richTextContent
            </div>
        }
    </div>
</div>

