@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var boxTitle = Model?.Content.Value<string>("boxTitle") ?? "";
    var divId = boxTitle?.ToString().ToLower().Trim().Replace(" ", "-");
}


<div id="@divId">
    @await Html.GetBlockGridItemAreasHtmlAsync(Model)
</div>