h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

h1 {
    font-size: 70px;

    @include phone {
        font-size: 1.9rem;
    }

    @include tablet {
        font-size: 1.9rem;
    }

    @include desktop {
        font-size: 70px;
    }
}

h2 {
    font-size: 40px;

    @include phone {
        font-size: 1.9rem;
    }

    @include tablet {
        font-size: 1.9rem;
    }

    @include desktop {
        font-size: 40px;
    }
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}
