@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var siteName = settings?.Value<string>("siteName") ?? "";
}

<footer class="bg-dark">
    <div class="container">
        <div class="copyright">
            <p class="copyright-information">&copy @DateTime.Now.Year @siteName All Rights Reserved.</p>
            <p class="credits">Credits to <a href="https://themeforest.net/user/themesflat/portfolio">Themesflat</a></p>
        </div>
    </div>
</footer>