@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
}

<div id="topbar" class="bg-primary">
    <div class="container">
        <div class="address">@officeLocation</div>
        <div class="social-media">
            <a class="btn-social" href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a class="btn-social" href="#"><i class="fa-brands fa-x-twitter"></i></a>
            <a class="btn-social" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</div>