<?xml version="1.0" encoding="utf-8"?>
<Media Key="95da12af-1e47-45aa-b5b5-f754071644ce" Alias="Annual Report for Juva Inc." Level="2">
  <Info>
    <Parent Key="a4fba9f9-a7a3-4303-a78d-5140a7dec6cd">Projects</Parent>
    <Path>/Projects/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:27:48</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/edmjyizo/project4.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>