<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb0c54dd-7e6e-4d99-aca3-9cd285cfc4ba" Alias="audit" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/audit</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:30:08</CreateDate>
    <NodeName Default="audit" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kkpeu5ih/audits.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>