<?xml version="1.0" encoding="utf-8"?>
<Media Key="3747ced3-c5e4-43c4-9491-e48196c711cf" Alias="bonds" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/bonds</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:30:25</CreateDate>
    <NodeName Default="bonds" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lqcadamn/bonds.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>