<?xml version="1.0" encoding="utf-8"?>
<Media Key="04d965af-3b78-4adf-88eb-937df81c1f7a" Alias="brandon" Level="2">
  <Info>
    <Parent Key="60bce182-62ef-4d8a-8ec9-c3eb033acc74">Team Members</Parent>
    <Path>/TeamMembers/brandon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T16:21:35</CreateDate>
    <NodeName Default="brandon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ecxj5mqr/brandon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>