<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6ae9636-07d6-4ac8-8e41-16935c0ce3a2" Alias="Business Insights" Level="2">
  <Info>
    <Parent Key="a4fba9f9-a7a3-4303-a78d-5140a7dec6cd">Projects</Parent>
    <Path>/Projects/BusinessInsights</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T15:28:06</CreateDate>
    <NodeName Default="Business Insights" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xfooqyf5/project3.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>