<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f79ff33-4354-4023-b479-a919a1a12f8f" Alias="finance" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/finance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:30:39</CreateDate>
    <NodeName Default="finance" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xq0d5cj3/finance.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>