<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fce5bbd-5a81-4827-a5b9-e072d69ba41a" Alias="fossil group" Level="2">
  <Info>
    <Parent Key="cfb78b9c-a36e-41f7-836d-75a96584e294">Partners</Parent>
    <Path>/Partners/fossilGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T14:04:00</CreateDate>
    <NodeName Default="fossil group" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gkijr0pi/fossilgroup.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>