<?xml version="1.0" encoding="utf-8"?>
<Media Key="41750c4a-924f-4559-b3ed-328a1190c8bd" Alias="globe" Level="2">
  <Info>
    <Parent Key="cfb78b9c-a36e-41f7-836d-75a96584e294">Partners</Parent>
    <Path>/Partners/globe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T14:04:29</CreateDate>
    <NodeName Default="globe" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/yxddh3zg/globe.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>