<?xml version="1.0" encoding="utf-8"?>
<Media Key="404f1c12-6e39-45de-ac2a-d0fe517ba953" Alias="Hero Slider" Level="2">
  <Info>
    <Parent Key="98cc93a5-deda-47f2-a898-38f02661bdc8">Hero Slider</Parent>
    <Path>/HeroSlider/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T15:20:15</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/txlat3sq/hero.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>