<?xml version="1.0" encoding="utf-8"?>
<Media Key="98cc93a5-deda-47f2-a898-38f02661bdc8" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T15:18:33</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>