<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a723064-e895-4adc-8dff-e1d9db0f8781" Alias="identity" Level="2">
  <Info>
    <Parent Key="cfb78b9c-a36e-41f7-836d-75a96584e294">Partners</Parent>
    <Path>/Partners/identity</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T14:04:44</CreateDate>
    <NodeName Default="identity" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3p3dj5h2/identity.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>