<?xml version="1.0" encoding="utf-8"?>
<Media Key="84dc233b-2e3d-4260-8714-fdfb63288d09" Alias="kevin" Level="2">
  <Info>
    <Parent Key="60bce182-62ef-4d8a-8ec9-c3eb033acc74">Team Members</Parent>
    <Path>/TeamMembers/kevin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T16:22:18</CreateDate>
    <NodeName Default="kevin" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wtujumsu/kevin.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>