<?xml version="1.0" encoding="utf-8"?>
<Media Key="77c693fe-df47-4d4e-9181-e66d28510e43" Alias="meeting small" Level="2">
  <Info>
    <Parent Key="5111e32e-9eb6-413f-8618-fbcc8275ea81">misc</Parent>
    <Path>/misc/meetingSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-23T08:39:34</CreateDate>
    <NodeName Default="meeting small" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ofmjbqjo/meeting-small-project.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>