<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8d0bd0d-6b68-4d93-bfe2-d11fd0b3c377" Alias="miranda" Level="2">
  <Info>
    <Parent Key="60bce182-62ef-4d8a-8ec9-c3eb033acc74">Team Members</Parent>
    <Path>/TeamMembers/miranda</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T16:22:33</CreateDate>
    <NodeName Default="miranda" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qj1jm1qb/miranda.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>