<?xml version="1.0" encoding="utf-8"?>
<Media Key="5111e32e-9eb6-413f-8618-fbcc8275ea81" Alias="misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T09:53:29</CreateDate>
    <NodeName Default="misc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>