<?xml version="1.0" encoding="utf-8"?>
<Media Key="845f545c-a93a-46b1-98b5-5de2e0ac38bb" Alias="natural" Level="2">
  <Info>
    <Parent Key="cfb78b9c-a36e-41f7-836d-75a96584e294">Partners</Parent>
    <Path>/Partners/natural</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T14:04:56</CreateDate>
    <NodeName Default="natural" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0opbsmst/natural.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>