<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfb78b9c-a36e-41f7-836d-75a96584e294" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T14:03:27</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>