<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4fba9f9-a7a3-4303-a78d-5140a7dec6cd" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-12T15:27:07</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>