<?xml version="1.0" encoding="utf-8"?>
<Media Key="be269a48-84ac-4f5a-9467-8f51a2fc3532" Alias="risk management" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/riskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:30:54</CreateDate>
    <NodeName Default="risk management" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y3igacgf/risk-management.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>