<?xml version="1.0" encoding="utf-8"?>
<Media Key="34ee6f72-bf1b-410a-b03c-188d2f027ef2" Alias="statistics" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/statistics</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:31:07</CreateDate>
    <NodeName Default="statistics" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5wslrats/statistics.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>