<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ed3ec5f-2b91-48fa-9653-d47a37473be8" Alias="success image" Level="2">
  <Info>
    <Parent Key="5111e32e-9eb6-413f-8618-fbcc8275ea81">misc</Parent>
    <Path>/misc/successImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T11:33:28</CreateDate>
    <NodeName Default="success image" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0atjlwhy/success-story.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>