<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf25d7f6-08d6-43a5-89f8-57320678d278" Alias="tax" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/tax</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-06T10:31:19</CreateDate>
    <NodeName Default="tax" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/peohgcn5/tax.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>