<?xml version="1.0" encoding="utf-8"?>
<Media Key="62cb6edb-b9db-4417-8c35-46e9515dfac2" Alias="team meetings" Level="2">
  <Info>
    <Parent Key="0dc90884-4ac2-4cd9-92a7-e8766b303214">Services</Parent>
    <Path>/Services/teamMeetings</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T13:27:31</CreateDate>
    <NodeName Default="team meetings" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kssi1vfs/team-meatings.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>