<?xml version="1.0" encoding="utf-8"?>
<Media Key="a96acf55-7120-4060-8123-d5525b8ac57c" Alias="tina small" Level="2">
  <Info>
    <Parent Key="60bce182-62ef-4d8a-8ec9-c3eb033acc74">Team Members</Parent>
    <Path>/TeamMembers/tinaSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T16:22:51</CreateDate>
    <NodeName Default="tina small" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1icdyh0j/tina.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>