footer {
    padding-top: 10px;
    padding-bottom: 10px;
    .container {
        .copyright {
            display: flex;
            padding {
                @include text;
            }
        }
    }
}
