.interview {
    display: flex;
    gap: 60px;

    @include phone {
        flex-direction: column;
    }

    @include tablet {
        flex-direction: column;
    }

    @include desktop {
        flex-direction: row;
    }

    .image {
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include desktop {
            align-items: start;
        }

        img {
            @include phone {
                max-width: 100%;
            }
        }

        p {
            margin-top: 10px;

        }
    }

    .content {

        .quote {
            font-size: 18px;
            font-style: italic;
            font-weight: 300;
            margin-bottom: 30px;
        }

        .rich-text {
            font-size: 15px;
        }
    }
}
