#partners {
    @include phone {
    }

    .container {
        .image-slider {

            .slides {


                @include phone {
                    display: flex;
                    align-items: center;
                    overflow-x: auto;
                    white-space: nowrap;
                    justify-content: initial;
                    gap: 40px;
                }

                @include tablet {
                    display: flex;
                    align-items: center;
                    overflow-x: auto;
                    white-space: nowrap;
                    justify-content: initial;
                    gap: 40px;
                }

                @include desktop {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

#contact-partners {
    .container {
        .image-slider {
            .slides {
                @include phone {
                    display: flex;
                    align-items: center;
                    overflow-x: auto;
                    white-space: nowrap;
                    justify-content: initial;
                    gap: 40px;
                }

                @include tablet {
                    display: flex;
                    align-items: center;
                    overflow-x: auto;
                    white-space: nowrap;
                    justify-content: initial;
                    gap: 40px;
                }

                @include desktop {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}