<?xml version="1.0" encoding="utf-8"?>
<Content Key="667bb043-73c4-45b2-b2ef-831aadbd9a62" Alias="Projects" Level="2">
  <Info>
    <Parent Key="b26dcece-2cc5-4064-955f-9293e8112d6d">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-12T14:25:17</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="97953c0e-f7c6-4c7f-820c-ee2ead430388">projectListPage</Template>
  </Info>
  <Properties>
    <contactInfo>
      <Value><![CDATA[1]]></Value>
    </contactInfo>
    <customHeadline>
      <Value><![CDATA[]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
    <projectPageTags>
      <Value><![CDATA[[
  "k\u00F6ttbullar",
  "kalaspuffar",
  "friterade makaroner",
  "finance"
]]]></Value>
    </projectPageTags>
    <sidebarForm>
      <Value><![CDATA[1]]></Value>
    </sidebarForm>
  </Properties>
</Content>