<?xml version="1.0" encoding="utf-8"?>
<Content Key="24fd9156-09ce-4833-97b8-2e58e08a8494" Alias="Services" Level="2">
  <Info>
    <Parent Key="b26dcece-2cc5-4064-955f-9293e8112d6d">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-10T11:46:31</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4c1571a5-988e-4957-8e3b-0dfff3a4c113">serviceListPage</Template>
  </Info>
  <Properties>
    <contactInfo>
      <Value><![CDATA[1]]></Value>
    </contactInfo>
    <customHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>