<?xml version="1.0" encoding="utf-8"?>
<Content Key="2320a45a-bd51-4897-b5ff-44087657b843" Alias="Settings Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-04T15:21:39</CreateDate>
    <NodeName Default="Settings Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeImage>
      <Value><![CDATA[[
  {
    "key": "337ce347-9341-496f-ab9d-179638e2dbfa",
    "mediaKey": "6faf3aa0-b8ed-4a37-a0ae-b7647db19fdc",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </officeImage>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "a25626ac-f0ab-4529-93d3-25717a24c165",
    "mediaKey": "6a5df178-a53a-4b3b-b428-764f12f15ad6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c751bae9-c059-42fa-a2b7-e8b83b86bfff",
      "udi": "umb://element/b2b30fb9252d4c7fbf1cec72471b94af",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://www.facebook.com//onatrix"
    },
    {
      "contentTypeKey": "c751bae9-c059-42fa-a2b7-e8b83b86bfff",
      "udi": "umb://element/a441f3f7eec24820bc57a307588f0dc4",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://www.linkedin.com/onatrix"
    },
    {
      "contentTypeKey": "c751bae9-c059-42fa-a2b7-e8b83b86bfff",
      "udi": "umb://element/38af7889e04c4f7dbc262754c868ab4b",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://www.x.com/onatrix"
    },
    {
      "contentTypeKey": "c751bae9-c059-42fa-a2b7-e8b83b86bfff",
      "udi": "umb://element/fc7eab99cf82481e8f1760348a432732",
      "platformName": "[\u0022Youtube\u0022]",
      "platformAccountUrl": "https://www.youtube.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b2b30fb9252d4c7fbf1cec72471b94af",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a441f3f7eec24820bc57a307588f0dc4",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/38af7889e04c4f7dbc262754c868ab4b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/fc7eab99cf82481e8f1760348a432732",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>